:root {
  box-sizing: border-box;
  font: 400 16px / 22px "Roboto", Helvetica, Arial, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

/* ₽ символ рубля - чтоб не потерять :)) */

/* body {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background: rgb(132, 157, 143);
} */

body {
  margin: 0;
  background: rgb(132, 157, 143);
}

.page-wrapper {
  /*
  display: flex;
  flex-flow: column wrap; */
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  outline: 1px dashed pink;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: stretch;
  outline: 1px dashed crimson;
}

.flex-row>* {
  margin-right: 2.2%;
}

.flex-row>*:first-child {
  margin-left: 2.3%;
}

.flex-row>*:last-child {
  margin-right: 2.3%;
}

/* ------------------ #Buttons ------------------ */

.btn {
  height: 44px;
  padding: 0 24px;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: none;
  background: linear-gradient(to top, #e72f35, #f26843);
  border: none;
  border-radius: 32px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.54);
}

.btn:hover,
.btn:focus {
  background: linear-gradient(to top, rgba(231, 47, 53, 0.8), rgba(242, 104, 67, 0.8)), white;
  box-shadow: 0 1px 2px #ac1000;
}

.btn:active {
  color: #fceeec;
  background: linear-gradient(to top, rgba(231, 47, 53, 0.93), rgba(242, 104, 67, 0.93)), black;
  box-shadow: inset 0 1px 2px #952718;
}

.btn--big {
  height: 64px;
  padding: 0 40px;
  font-size: 32px;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn--big:hover {
  box-shadow: 0 2px 2px #ac1000;
}

.btn--big:active {
  box-shadow: inset 0 2px 2px #952718;
}

/* ------------------ #Inputs ------------------ */

.field-text__input,
.field-textarea {
  height: 44px;
  padding: 0 10px;
  font-weight: 700;
  font-size: 16px;
  color: #323232;
  background-color: white;
  border-width: 0;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px rgba(178, 178, 178, 0.52);
}

.field-text__input:hover,
.field-textarea:hover {
  box-shadow: inset 0 0 0 2px rgba(154, 154, 154, 0.52);
}

.field-text__input:focus,
.field-textarea:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px rgba(46, 136, 228, 0.52);
}

.field-text__input:focus::-webkit-input-placeholder,
.field-textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.field-text__input:focus::-ms-input-placeholder,
.field-textarea:focus::-ms-input-placeholder {
  color: transparent;
}

.field-text__input:focus:-ms-input-placeholder,
.field-textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.field-text__input:focus::placeholder,
.field-textarea:focus::placeholder {
  color: transparent;
}

.field-text__input::-webkit-input-placeholder,
.field-textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.field-text__input::-ms-input-placeholder,
.field-textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.field-text__input:-ms-input-placeholder,
.field-textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

.field-text__input::placeholder,
.field-textarea::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: #999999;
}

/* весь этот адский кошмар с префиксами в 4 наката потому что есл их все собрать вместе, то не рабоатет ничего совсем :((( */

.field-textarea {
  width: 100%;
  min-height: 155px;
  padding-top: 10px;
  resize: none;
  /*  max-height: 50vh; */
}

/* ------------------ #Anchors ------------------ */

.page-wrapper a {
  font-weight: 500;
  color: white;
  text-decoration: underline;
}

.page-wrapper a:hover {
  font-weight: 500;
  color: #ffbc9e;
  text-decoration: underline;
}

.page-wrapper a:active {
  font-weight: 500;
  color: #ffbc9e;
  text-decoration: underline;
}

/* ------------------ #Header ------------------ */

.main-header {
  position: relative;
  justify-content: flex-start;
  align-items: center;
}

.main-logo {
  display: block;
  max-height: fit-content;
  margin: 0;
  margin-top: 10px;
}

.main-logo__img {
  margin: 0;
}

/* ------------------ #Main-menu ------------------ */

.main-menu {
  display: flex;
  margin: 0;
  margin-left: 12px;
  padding: 0;
  list-style: none;
}

.main-menu__item {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 8px;
  padding: 0 10px;
}

.main-menu__item>a {
  font-weight: 700;
  line-height: 32px;
}

.main-menu__item:hover {
  background: rgb( 247, 246, 243);
  border: none;
  border-radius: 40px;
}

.main-menu__item:hover>a {
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.main-menu__item:active {
  background: rgb( 237, 237, 237);
  box-shadow: inset 0 2px 1px 0 #696969;
}

.main-menu__item:active>a {
  font-weight: 700;
  color: #323232;
  text-decoration: none;
}

.main-menu__item--active {
  background: rgb( 208, 112, 88);
  border: none;
  border-radius: 40px;
}

.main-menu__item--active>a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}

.main-menu__item:hover::after {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  display: block;
  width: 100%;
  height: 10px;
  background: transparent;
}

.main-menu__item:hover .main-submenu {
  display: block;
}

/* ------------------ #Main-submenu ------------------ */

.main-submenu {
  position: absolute;
  top: 35px;
  left: -10px;
  z-index: 2;
  display: none;
  margin: 0;
  padding: 5px 0;
  list-style: none;
  background: rgb( 248, 247, 244);
  border: none;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba( 0, 0, 0, 0.4);
}

.main-submenu__item {
  display: flex;
  align-items: center;
  margin: 5px 0;
  white-space: nowrap;
  outline: 0 dashed blue;
}

.main-submenu__item a {
  display: block;
  padding: 0 20px;
  font-weight: 400;
  line-height: 30px;
  color: #323232;
  text-decoration: none;
}

.main-submenu__item:hover {
  background: rgb( 251, 222, 215);
}

.main-submenu__item:hover a {
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.main-submenu__item:active {
  background: rgb( 246, 181, 165);
}

.main-submenu__item:active a {
  font-weight: 400;
  color: #323232;
  text-decoration: none;
}

.main-submenu__item--active {
  background: rgb( 208, 112, 88);
}

.main-submenu__item--active a {
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.main-submenu__item--lead a {
  font-weight: 700;
  text-decoration: none;
}

.main-submenu__item--lead:hover a {
  font-weight: 700;
  text-decoration: none;
}

.main-submenu__item--divider {
  display: block;
  height: 1px;
}

.main-submenu__item--divider::before {
  content: "";
  display: block;
  width: auto;
  height: 1px;
  margin: 0 9px;
  background: rgb(208, 209, 206);
}

/* ------------------ #User-bar ------------------ */

.user-bar {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.user-bar__item {
  position: relative;
  height: 32px;
  margin-left: 9px;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.user-bar__item:nth-of-type(1) {
  width: 32px;
  padding: 8px 0;
  background-image: url("../img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 8px center;
}

.user-bar__item:nth-of-type(2) {
  min-width: 32px;
  padding-left: 46px;
  background-image: url("../img/enter-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.user-bar__item:nth-of-type(3) {
  min-width: 116px;
  padding-left: 44px;
  background-image: url("../img/basket-icon.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.user-bar__item:nth-of-type(3).user-bar__item--basket-active {
  min-width: 120px;
  padding-left: 42px;
  background-image: url("../img/basket-icon-active.svg");
  background-repeat: no-repeat;
  background-position: 16px center;
}

.user-bar__item:hover {
  color: #323232;
  background-color: rgba(248, 247, 244, 1);
}

.user-bar__item:hover:nth-of-type(1) {
  background-image: url("../img/search-icon-dark.svg");
}

.user-bar__item:hover:nth-of-type(2) {
  background-image: url("../img/enter-icon-dark.svg");
}

.user-bar__item:hover:nth-of-type(3) {
  background-image: url("../img/basket-icon-dark.svg");
}

.user-bar__item:nth-of-type(3).user-bar__item--basket-active:hover {
  background-image: url("../img/basket-icon-active-dark.svg");
}

.user-bar__item:hover::after {
  content: "";
  position: absolute;
  top: 30px;
  left: -20%;
  display: block;
  width: 120%;
  height: 10px;
  background: transparent;
}

/* ------------------ #Search, #SignUp ------------------ */

.search-form,
.sign-up-form,
.order {
  z-index: 2;
  display: none;
  padding: 20px 16px;
  background-color: rgb( 248, 247, 244);
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba( 0, 0, 0, 0.4);
}

.user-bar__item:hover .search-form {
  position: absolute;
  top: 35px;
  right: 0;
  display: block;
  width: 340px;
}

.search-form .field-text__input {
  width: 100%;
}

/*  ------------- #Sign-up-form ------------- */

.user-bar__item:hover .sign-up-form {
  position: absolute;
  top: 35px;
  right: 0;
  display: flex;
  flex-flow: column wrap;
  width: 280px;
}

.sign-up-form>*:not(:last-child) {
  margin-bottom: 20px;
}

.sign-up-form .field-text__input {
  width: 100%;
}

.sign-up-form .btn {
  margin-right: auto;
}

.sign-up-form__control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.sign-up-form__links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.sign-up-form__links a {
  color: #323232;
}

.sign-up-form__links a:hover {
  color: #e84d37;
}

/* ------------------ #Order ------------------ */

.user-bar__item:hover .order {
  position: absolute;
  top: 35px;
  right: 0;
  display: flex;
}

.order {
  flex-flow: column nowrap;
  align-items: flex-end;
}
.order-list {
  margin: 0;
  padding: 0;
}
.order-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 52px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}
.order-item__remove {
  width: 11px;
  height: 11px;
  border: none;
  margin: 0;
  margin-top: 11px;
  margin-right: 15px;
  background-color: transparent;
  background-image: url("../img/x-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}
.order-item__thumb {
  width: 33px;
  height: 33px;
  border: none;
  border-radius: 50%;
  margin: 0;
  margin-right: 12px;
}
.order-item__name {
  align-self: baseline;
  margin: 0;
  margin-top: 10px;
  margin-right: 20px;
  width: 220px;
}
.order-item__qty {
  display: inline-flex;
  justify-content: flex-end;
  margin: 0;
  margin-left: auto;
  margin-top: 10px;
  white-space: nowrap;
  width: 100px;
}
.order-item__weight {

}
.order-item__price {

}
.order-item__cost {
  display: inline-flex;
  justify-content: flex-end;
  margin: 0;
  margin-top: 10px;
  margin-right: 16px;
  white-space: nowrap;
  min-width: 80px;
}

.order__total {
  font-size: 15px;
  line-height: 18px;
  color: #323232;
}

.order-item__weight::after {
  content: "кг";
}
.order-item__price::after {
  content: "руб.";
}
.order-item__cost::after {
  content: "руб.";
}
.order__total-value::after {
  content: "руб.";
}
.order-item--divider {
  display: block;
  height: 1px;
}
.order-item--divider::before {
  content: "";
  display: block;
  width: auto;
  height: 1px;
  margin: 5px 0;
  background: rgb(208, 209, 206);
}

/* ------------------ #Catalog-heading ------------------ */

.catalog-header {
  margin: 0;
  margin-bottom: 0;
  margin-left: 2.3%;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  color: white;
}

/* ------------------ #Breadcrumbs ------------------ */

.breadcrumbs {
  align-self: flex-start;
  margin: 0;
  margin-top: 16px;
  outline: 1px dashed lightseagreen;
}

.breadcrumbs a {
  position: relative;
  display: inline-flex;
  margin-right: 17px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-decoration: underline;
}

.breadcrumbs a:hover {
  display: inline-flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs a:last-of-type {
  text-decoration: none;
}

.breadcrumbs a:not(:last-of-type)::after {
  content: "»";
  position: absolute;
  top: 0;
  right: -19px;
  display: flex;
  justify-content: center;
  width: 16px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

/* ------------------ #Schedule ------------------ */

.schedule {
  max-height: fit-content;
  margin: 0;
  margin-top: -10px;
  margin-right: 2.3%;
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  text-align: right;
  color: white;
}

.schedule a {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

.schedule a:hover {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: white;
  text-decoration: none;
}

/* ------------------ #Promo ------------------ */

.promo {
  margin-bottom: 40px;
}

.promo-case {
  display: flex;
  flex-basis: 46.6%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 230px;
  padding: 20px;
  font-weight: 700;
  color: white;
  border-radius: 15px;
}

.promo-case__slogan {
  font-size: 35px;
  line-height: 35px;
}

.promo-case__lead {
  font-size: 18px;
  line-height: 22px;
}

.promo-case:first-of-type {
  margin-left: 2.3%;
  background-color: crimson;
  background-image: url("../img/bg/raspberries-bg.jpg");
  background-position: center center;
}

.promo-case:last-of-type {
  background-color: brown;
  background-image: url("../img/bg/chocolate-bg.jpg");
  background-position: center center;
}

.promo-case .btn {
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 4px;
}

/* ------------------ #Shopping-card ------------------ */

.shopping-card {
  position: relative;
  display: flex;
  flex-basis: 22.2%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
  text-align: center;
}

.shopping-card:hover {
  z-index: 33;
  margin-bottom: -35px;
  padding-bottom: 75px;
}

.shopping-card:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5%;
  z-index: -1;
  display: block;
  width: 110%;
  height: calc(100% + 6px);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba( 0, 0, 0, 0.4);
}

.shopping-card__cost {
  position: absolute;
  top: 175px;
  left: 0;
  align-self: flex-start;
  font-weight: bold;
  font-size: 45px;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.shopping-card:hover .shopping-card__cost {
  position: absolute;
  top: 175px;
  left: 0;
}

.shopping-card__cost::after {
  content: "/кг";
  font-size: 30px;
}

.shopping-card__schild-hit {
  position: absolute;
  top: 0;
  left: 0;
  width: 61px;
  height: 61px;
  background: url("../img/hit-shield.svg");
}

.ruble-sign {
  display: inline-flex;
  font-weight: 500;
  text-indent: 5px;
}

.shopping-card__img {
  align-self: stretch;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin-bottom: 14px;
  background: rebeccapurple;
  border-radius: 300px;
}

.shopping-card .btn {
  display: none;
}

.shopping-card:hover .btn {
  position: absolute;
  bottom: 20px;
  display: block;
}

/* ------------------ #Advantages ------------------ */

.advantages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: 2.3%;
  margin-bottom: 40px;
  margin-left: 2.3%;
  padding: 18px;
  background-color: tan;
  background-image: url("../img/bg/waffle-pattern.jpg");
  border: none;
  border-radius: 15px;
}

.advantages__title {
  flex-basis: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: rgb( 50, 50, 50);
}

.advantages__item {
  position: relative;
  flex-basis: 41.5%;
  margin-bottom: 4px;
  margin-left: 58px;
  font-size: 16px;
  line-height: 23px;
  color: rgb( 50, 50, 50);
}

.advantages__item::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -56px;
  display: block;
  width: 49px;
  height: 49px;
  border-radius: 50px;
}

.advantages__item:nth-of-type(1)::before {
  background-image: url("../img/advantages/ice-cream-icon.svg");
}

.advantages__item:nth-of-type(2)::before {
  background-image: url("../img/advantages/cow-icon.svg");
}

.advantages__item:nth-of-type(3)::before {
  background-image: url("../img/advantages/leaf-icon.svg");
}

.advantages__item:nth-of-type(4)::before {
  background-image: url("../img/advantages/your-eyes-cold-as-ice-icon-lalala.svg");
}

/* ------------------ #Blog ------------------ */

.blog-post {
  display: flex;
  flex-basis: 46.6%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  min-height: 220px;
  padding: 20px;
  color: #323232;
  background-color: white;
  background-image: url("../img/bg/strawberry-bg.jpg");
  background-repeat: no-repeat;
  background-position: 120% 20%;
  background-size: 70%;
  border-radius: 15px;
  justify-self: flex-start;
}

.blog-post b {
  font-weight: 500;
}

.blog-post .blog-post__link {
  display: block;
  max-width: 55%;
  margin-top: 5px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog-post .blog-post__link:hover {
  font-weight: bold;
  color: #e84d37;
}

/* ------------------ #Subscribe ------------------ */

.subscribe {
  flex-basis: 46.6%;
  min-height: 220px;
  padding: 6px;
  background-color: cornflowerblue;
  background-color: rgb(248, 247, 244);
  background-image: repeating-linear-gradient( -45deg, transparent, transparent 7px, rgb(254, 158, 144) 7px, rgb(254, 158, 144) 14px, transparent 14px, transparent 21px, rgb(146, 205, 255) 21px, rgb(146, 205, 255) 28px);
  border: none;
  border-radius: 15px;
  justify-self: flex-end;
}

.subscribe-inner {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgb(248, 247, 244);
  border-radius: 10px;
}

.subscribe-inner p {
  margin-top: 10px;
  margin-bottom: 35px;
  color: rgb(90, 90, 90);
}

.subscribe-form {
  display: flex;
  flex-flow: row nowrap;
}

.subscribe-form .field-text {
  flex-basis: 100%;
  margin-right: 10px;
}

.subscribe-form .field-text__input {
  width: 100%;
}

/* ------------------ #Map ------------------ */

.map {
  position: relative;
  min-height: 430px;
  margin-top: 40px;
  background-image: url("img/bg/map-raster-image.jpg");
  outline: 0 dashed aqua;
}

/* ------------------ #Contact ------------------ */

.contact {
  position: absolute;
  top: 14%;
  right: 2.3%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-self: center;
  width: 303px;
  height: 70%;
  padding: 28px 25px;
  background-color: white;
  border-radius: 15px;
}

.contact small {
  font-size: 14px;
  line-height: 20px;
}

.contact address {
  margin-bottom: 14px;
  font-style: normal;
}

.contact b {
  font-size: 18px;
  line-height: 24px;
}

.contact a {
  font-size: 18px;
  line-height: 22px;
  color: black;
  text-decoration: none;
}

.contact .btn {
  margin-top: 25px;
}

/* ------------------ #Footer ------------------ */

.main-footer {
  align-items: center;
  min-height: 100px;
}

/* ------------------ #Socials ------------------ */

.socials {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item {
  display: block;
  margin-right: 11px;
}

.socials__item a {
  display: block;
  width: 32px;
  height: 32px;
  margin: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  border: none;
  border-radius: 32px;
  box-shadow: 0 0 0 3px rgba( 255, 255, 255, 0.5);
  opacity: 0.8;
}

.socials__item a[href*="twitter.com"] {
  background-image: url("../img/socials/twitter-icon.svg");
}

.socials__item a[href*="instagram.com"] {
  background-image: url("../img/socials/instagram-icon.svg");
}

.socials__item a[href*="facebook.com"] {
  background-image: url("../img/socials/facebook-icon.svg");
}

.socials__item a[href*="vk.com"] {
  background-image: url("../img/socials/vkontakte-icon.svg");
}

.socials__item a:hover {
  box-shadow: 0 0 0 3px rgba( 255, 255, 255, 0.7);
  opacity: 1;
}

.socials__item a:active {
  box-shadow: 0 0 0 3px rgba( 255, 255, 255, 0.7);
  opacity: 0.8;
}

/* ------------------ #Doc-links ------------------ */

.doc-links {
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  max-height: 50px;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}

.doc-links__item {
  position: relative;
  display: inline-flex;
  margin-right: 32px;
  font-size: 13px;
  line-height: 24px;
}

.doc-links__item a {
  font-weight: 400;
}

.doc-links__item a:hover {
  font-weight: 400;
}

.doc-links__item:first-child a {
  font-weight: 700;
}

.doc-links__item:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  left: -24px;
  display: block;
  width: 19px;
  height: 19px;
  background-image: url("../img/heart-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 13px;
}

/* ------------------ #Copyright ------------------ */

.copyright {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 12px;
  line-height: 18px;
  color: white;
}

.copyright a {
  font-weight: 400;
}

.copyright a:hover {
  font-weight: 400;
}

.copyright a:first-child {
  text-decoration: none;
}

/* ------------------ #Modal, #Get-in-touch ------------------ */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  display: none;
  /* flex */
  flex-flow: row nowrap;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.3);
}

.get-in-touch {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-self: center;
  width: 478px;
  padding: 24px;
  background: #f8f7f4;
  border: none;
  border-radius: 10px;
}

.get-in-touch b {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
}

.get-in-touch-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.get-in-touch-form .btn {
  align-self: flex-end;
}

.get-in-touch-form *:not(:last-child) {
  margin-bottom: 20px;
}

.get-in-touch-form .field-text__input {
  width: 267px;
}

.get-in-touch .close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  font-size: 40px;
  background: transparent;
  background-image: url("../img/x-icon.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  border: none;
}

/* ------------------ #Settings ------------------ */

.settings {
  margin-top: 20px;
}

.flex-row.settings-row {
  justify-content: flex-start;
  align-items: flex-end;
  height: 62px;
  margin-bottom: 15px;
}

.settings__fieldset {
  position: relative;
  height: 37px;
  margin: 0;
  margin-right: 14px;
  padding: 0 15px;
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.settings__field-select {
  margin-right: 14px;
}

.settings__fieldset-radio,
.settings__fieldset-checkbox {
  display: inline-flex;
}

.field-select__label,
.settings__legend {
  display: block;
  margin-bottom: 5px;
  margin-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.settings__legend {
  position: absolute;
  top: -20px;
  left: 15px;
  margin-left: 0;
}

/* ------------------ #Settings-#Select ------------------ */

.field-select__select {
  width: 195px;
  height: 37px;
  padding: 0 15px;
  font-weight: 500;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 12px 12px;
  border: none;
  border-radius: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.field-select__select::-ms-expand {
  display: none;
}

.field-select__select:hover,
.field-select__select:focus {
  height: 37px;
  color: #323232;
  background: rgba(255, 255, 255, 0.2);
  background-image: url("../img/icon-down-dir-dark.svg");
  background-repeat: no-repeat;
  background-position: 166px center;
  background-size: 12px 12px;
  border: none;
  border-radius: 40px;
}

/* ------------------ #Settings-#Range ------------------ */

.field-range * {
  outline: 0px dotted red;
}

.field-range {
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 175px;
  height: 22px;
  margin: 0 7px;
  margin-bottom: 10px;
}

.field-range__scale {
  width: 100%;
  height: 4px;
  background: rgba(248, 247, 244, .5);
}

.field-range__bar {
  margin-left: 12px;
margin-right: 45px;
  height: 4px;
  background: rgba(248, 247, 244, 1);
}

.field-range__toggle {
  position: absolute;
  top: 1;
  box-sizing: content-box;
  width: 4px;
  height: 4px;
  padding: 0;
  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .1);
}

.field-range__toggle--min {
  left: 12px;
}

.field-range__toggle--max {
  right: 45px;
}

/* .field-range {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 220px;
  height: 37px;
  padding: 0 15px;
  padding-bottom: 0;
  font-weight: 500;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
}

.field-range__label {
  position: absolute;
  top: -20px;
  left: 15px;
  margin-left: 0;
}

.field-range__range {
  outline: 1px dotted tomato;
} */

/* ------------------ #Settings-#Radio ------------------ */

.field-radio {
  margin-right: 15px;
}

.field-radio:last-of-type {
  margin-right: 5px;
}

.field-radio__input {
  display: none;
}

.field-radio__label {
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

.field-radio__input~.field-radio__label::before {
  content: "";
  display: inline-flex;
  width: 22px;
  height: 22px;
  margin-right: 8px;
  margin-bottom: -5px;
  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 22px 22px;
  opacity: 0.8;
}

.field-radio__input:checked~.field-radio__label::before {
  background-image: url("../img/radio-on.svg");
  background-size: 22px 22px;
}

.field-radio__input~.field-radio__label:hover::before {
  opacity: 1;
}

.field-radio__input:disabled~.field-radio__label::before {
  opacity: 0.4;
}

/* ------------------ #Settings-#Checkbox ------------------ */

.field-checkbox {
  margin-right: 17px;
}

.field-checkbox:last-of-type {
  margin-right: 5px;
}

.field-checkbox__input {
  display: none;
}

.field-checkbox__label {
  display: inline-flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: white;
}

.field-checkbox__input~.field-checkbox__label::before {
  content: "";
  display: inline-flex;
  width: 24px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: -5px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px 20px;
  opacity: 0.8;
}

.field-checkbox__input:checked~.field-checkbox__label::before {
  background-image: url("../img/checkbox-on.svg");
  background-size: 24px 20px;
}

.field-checkbox__input~.field-checkbox__label:hover::before {
  opacity: 1;
}

.field-checkbox__input:disabled~.field-checkbox__label::before {
  opacity: 0.4;
}

/* ------------------ #Settings-#Button ------------------ */

.settings__btn {
  height: 37px;
  padding: 0 30px;
  font-weight: 500;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 40px;
  box-shadow: inset 0 0 0 2px white;
}

.settings__btn:hover {
  color: #323232;
  background: rgba(255, 255, 255, 1);
}

.settings__btn:active {
  color: #323232;
  background: rgba( 237, 237, 237, 1);
  box-shadow: inset 0 2px 1px 1px #696969;
}

/* ------------------ #Catalog ------------------ */

.catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 36px;
}

.catalog>* {
  margin-right: 2.2%;
}

.catalog>*:nth-child(4n+1) {
  margin-left: 2.3%;
}

.catalog>*:nth-child(4n+4) {
  margin-right: 2.3%;
}

/* ------------------ #Catalog-pagination ------------------ */

.catalog-pagination {
  margin-top: 40px;
  margin-right: 2.3%;
  margin-bottom: 30px;
  margin-left: 2.3%;
  text-align: right;
  text-decoration: none;
  outline: 1px dashed aqua;
}

.catalog-pagination .catalog-pagination__item {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  width: 26px;
  height: 26px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  border: none;
  border-radius: 50%;
}

.catalog-pagination__item:last-child {
  margin-right: -10px;
}

.catalog-pagination .catalog-pagination__item:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-pagination .catalog-pagination__item:active {
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}

.catalog-pagination__item.catalog-pagination__item--current {
  color: black;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}

.catalog-pagination__item--disabled {
  opacity: 0.2;
}

.catalog-pagination__item--disabled:hover {
  background-color: rgba(255, 255, 255, 0);
}

.catalog-pagination__item.catalog-pagination__item--arrow-prev {
  text-decoration: none;
  background-image: url("../img/pagination-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.catalog-pagination__item.catalog-pagination__item--arrow-next {
  text-decoration: none;
  background-image: url("../img/pagination-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

/* Crazy classes */

.line-above-footer {
  width: auto;
  margin: 0 2.2%;
  border-color: white;
  opacity: 0.3;
}

.below-header-bar {
  max-height: 40px;
}
